In [20]:
# STEP 1:

import pandas as pd
table1 = pd.read_csv("customer_details.csv")
table2 = pd.read_csv("customer_policy_details.csv")

print(table1.head())
print(table2.head())

     0       1     2    3     4    5          6    7
0  1.0    Male  44.0  1.0  28.0  0.0  > 2 Years  Yes
1  2.0    Male  76.0  1.0   3.0  0.0   1-2 Year   No
2  3.0    Male  47.0  1.0  28.0  0.0  > 2 Years  Yes
3  4.0    Male  21.0  1.0  11.0  1.0   < 1 Year   No
4  5.0  Female  29.0  1.0  41.0  1.0   < 1 Year   No
     0        1      2      3    4
0  1.0  40454.0   26.0  217.0  1.0
1  2.0  33536.0   26.0  183.0  0.0
2  3.0  38294.0   26.0   27.0  1.0
3  4.0  28619.0  152.0  203.0  0.0
4  5.0  27496.0  152.0   39.0  0.0

In [21]:
# STEP 2 Checking and cleaning the data

In [22]:
# Table 1

table1_labels = {'0':'customer_id','1':'gender','2':'age','3':'driving_licence','4':'region_code',
               '5':'previously_insured','6':'vechile_age','7':'vehicle_damage',}

In [23]:
# counting the null values of each column of table1

for i in range(table1.shape[1]):
    print(f"number of cells of {table1_labels[str(i)]}with null values={table1[str(i)].isnull().sum()}")

number of cells of customer_idwith null values=386
number of cells of genderwith null values=368
number of cells of agewith null values=368
number of cells of driving_licencewith null values=393
number of cells of region_codewith null values=392
number of cells of previously_insuredwith null values=381
number of cells of vechile_agewith null values=381
number of cells of vehicle_damagewith null values=407

In [24]:
table1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       380723 non-null  float64
 1   1       380741 non-null  object
 2   2       380741 non-null  float64
 3   3       380716 non-null  float64
 4   4       380717 non-null  float64
 5   5       380728 non-null  float64
 6   6       380728 non-null  object
 7   7       380702 non-null  object
dtypes: float64(5), object(3)
memory usage: 23.3+ MB

In [25]:
# dropping rows with null customer_id of table1

table1.dropna(subset=['0'],inplace=True)
print(f"number of cells of {table1_labels[str(0)]}with null values={table1[str(0)].isnull().sum()}")

number of cells of customer_idwith null values=0

In [26]:
# replacing all null values for Categorical value by mode of table1

for i in [1,6,7]:
    table1[str(i)].fillna(table1[str(i)].mode()[0],inplace=True)
    print(f"number of cells of {table1_labels[str(i)]}with null values={table1[str(i)].isnull().sum()}")

number of cells of genderwith null values=0
number of cells of vechile_agewith null values=0
number of cells of vehicle_damagewith null values=0

In [27]:
# Table 2

table2_labels={'0':'customer_id','1':'annual_premium','2':'sales_channel_code','3':'vintage','4':'response'}

In [28]:
# Counting the null values of each column of table2

for i in range(table2.shape[1]):
    print(f"number of cells of {table2_labels[str(i)]} with null values is{table2[str(i)].isnull().sum()}")

number of cells of customer_id with null values is387
number of cells of annual_premium with null values is346
number of cells of sales_channel_code with null values is400
number of cells of vintage with null values is388
number of cells of response with null values is361

In [29]:
table2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       380722 non-null  float64
 1   1       380763 non-null  float64
 2   2       380709 non-null  float64
 3   3       380721 non-null  float64
 4   4       380748 non-null  float64
dtypes: float64(5)
memory usage: 14.5 MB

In [30]:
# dropping rows with null customer_id table2
table2.dropna(subset=['0'],inplace=True)
print(f"number of cells of {table1_labels[str(0)]} with null values={table2[str(0)].isnull().sum()}")

number of cells of customer_id with null values=0

In [31]:
# replacing all null values for numeric columns by mean of table2
for i in range(1,5):
    table2[str(i)].fillna(table2[str(i)].mean(),inplace=True)
    print(f"number of cells of {table2_labels[str(i)]} with null values={table2[str(i)].isnull().sum()}")

number of cells of annual_premium with null values=0
number of cells of sales_channel_code with null values=0
number of cells of vintage with null values=0
number of cells of response with null values=0

In [32]:
# Outliers

# Table1

In [33]:
table1_limits={}
for i in range(2,6):
    computations= table1[str(i)].describe(percentiles=[.25,.75])
    mean = computations.values[1]
    Q1 = computations.values[4] #25%
    Q3 = computations.values[6] #75%
    IQR = Q3-Q1
    ll = Q1 - 1.5*IQR #lower limit
    hl = Q3+1.5*IQR #higher limit
    table1_limits[str(i)]=(ll,hl)
table1_limits

{'2': (-11.0, 85.0), '3': (1.0, 1.0), '4': (-15.0, 65.0), '5': (-1.5, 2.5)}

In [34]:
# generating a summary of count of all the Outliers column wise of table1(only for numeric columns)

table1_outliers = {'2':0,'3':0,'4':0,'5':0}



for j in table1.index:
    for i in range(2,6):
        if(table1_limits[str(i)][0]!=table1_limits[str(i)][1])and (table1.loc[j,str(i)]>table1_limits[str(i)][1] or 
table1.loc[j,str(i)]<table1_limits[str(i)][0]):
            table1_outliers[str(i)]+=1
        
table1_outliers

{'2': 0, '3': 0, '4': 0, '5': 0}

In [35]:
# Replace all outlier values for numeric columns by mean for table 1

for j in table1.index:
    for i in range(2,6):
        if table1.loc[j,str(i)]<table1_limits[str(i)][0]:
            
            table1.loc[j,str(i)]=table1[str(i)].mean()
            
        if table1.loc[j,str(i)] > table1_limits [str(i)][1]:
            
            table1.loc[j,str(i)] == table1[str(i)].mean()

In [36]:
# Table2
table2_limits={}


for i in range(1,5):
    computations= table2[str(i)].describe(percentiles=[.25,.75])
    mean = computations.values[1]
    Q1 = computations.values[4] #25%
    Q3 = computations.values[6] #75%
    IQR = Q3-Q1
    ll = Q1 - 1.5*IQR #lower limit
    hl = Q3+1.5*IQR #higher limit
    table2_limits[str(i)]=(ll,hl)
table2_limits

{'1': (1952.375, 61855.375),
 '2': (-155.5, 336.5),
 '3': (-135.5, 444.5),
 '4': (0.0, 0.0)}

In [37]:
# generating a summary of count of all the Outliers column wise of table1(only for numeric columns)

table2_outliers = {'2':0,'3':0,'4':0,'5':0}



for j in table2.index:
    for i in range(1,5):
        if(table2_limits[str(i)][0]!=table2_limits[str(i)][1])and (table2.loc[j,str(i)]>table2_limits[str(i)][1] or 
table2.loc[j,str(i)]<table2_limits[str(i)][0]):
            table2_outliers[str(i)] += 1
        
table2_outliers

KeyError: '1'

In [ ]:

# Replace all outlier values for numeric columns by mean for table 1

for j in table2.index:
    for i in range(1,5):
        if table2.loc[j,str(i)] < table2_limits[str(i)][0]:
            table2.loc[j,str(i)] = table2_limits[str(i)].mean()
        if table2.loc[j,str(i)] > table1_limits[str(i)][1]:
            table2.loc[j,str(i)] = table1_limits[str(i)].mean()

In [ ]:
# Remove white spaces table1
table1.apply(lambda x:x.str.strip() if x.dtype=="object" else x )

In [ ]:
# Remove white spaces table2
table2.apply(lambda x:x.str.strip() if x.dtype=="object" else x )

In [ ]:
# case correction(lower or upper, any one) table 1

table1.apply(lambda x : x.str.lower() if x.dtype == "object" else x)

In [ ]:
# case correction(lower or upper, any one) table 2

table2.apply(lambda x : x.str.lower() if x.dtype == "object" else x)

In [ ]:
# Convert nominal data (categorical) into dummies 

#for future modeling use if required

dummy=pd.get_dummies(table1, columns=['gender']) # my column type into a dummy variable
dummy.head()

In [ ]:
# Drop Duplicates (duplicated rows table1

table1.drop_duplicate(inplace = True)

In [ ]:
# Drop Duplicates (duplicated rows) table2

table2.drop_duplicate(inplace = True)

In [ ]:
# 3. Create a Master table for future use. Join the customer table and 
#customer_policy table to get a master table using customer_id in both tables.

data = pd.merge(table1,table2,on = '0',)
labels = {'0':'customer_id','1_x':'gender','2_x':'age','3_x':'driving_licence','4_x':'region_code',
               '5':'previously_insured','6':'vechile_age','7':'vehicle_damage',
          '1_y':'annual_premium','2_y':'sales_channel_code','3_y':'vintage','4_y':'response'}
data.rename(columns=labels,inplace=True)
data

In [ ]:
# 4 getting info
# Gender wise average annual premium
data.groupby('gender')['annual_premium'].mean()

In [ ]:
# Age wise average annual premium
result4_2 = data.groupby('age')['annual_premium'].mean()
import matplotlib.pyplot as pyplot
result4_2.plot()
pyplot.show()

In [ ]:
# Is your data balanced between genders?
print(f"male to female ration is{round(data['gender'].value_counts()[0]/data['gender'].value_counts()[1],2)}")

print(f"generally, the standard is: n balanced data ratio:{50/50} n slightly balanced data ratio:{round(55/45,2)}-{60/40} n imbalanced data ratio:{80/20}-{90/10}")

In [ ]:
# iv. Vehicle age wise average annual premium.
result4_2 = data.groupby('vechile_age')['annual_premium'].mean()
import matplotlib.pyplot as pyplot
result4_2.plot()
pyplot.show()

In [ ]:
#  5. Is there any relation between Person Age and annual premium?
n = data['age'].corr(data['annual_premium'])
if n< -0.5:
    print('Strong negative relationship')
if n > 0.5:
    print('Strong positive relationship')
if n > -0.5 and n<0.5:
    print("There is no relationship")